/*allows me to cover the whole screen with the image*/
html,
body,
header,
#intro {
    height: 100%;
}

* {
    font-family: 'Crimson Text', serif;
    font-size: medium;
}

#landerH2 {
    font-weight: bold;
    color: white;

}

#landerH4 {
    color: white;
}

#btn {
    background-color: transparent;
}
.top-nav-collapse {
    background-color: #37474F;
    color: white;
}

nav a {
    color: white;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); box-shadow:0 10px 25px rgba(0,0,0,.1) }


header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}
